body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.web-link {
    margin-left: 40px;
}

.sm-home {
    width: 28px;
    border-radius: 50%;
    margin: auto;
    margin-right: 4px;
}

.name {
    font-size: 28px;
}

.nav {
    margin-left: 140px;
    margin-right: 140px;
}

.buttons {
    margin-right: 40px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    padding: 96px;
    border-radius: 16px;
    background-color: #a4d9ec;
    margin-top: 160px;
    margin-bottom: 72px;
}

.hero-sections {
    display: flex;
}

.info {
    width: 550px;
    margin-right: 80px;
}

.text {
    margin-bottom: 24px;
}

.app-link {
    margin-bottom: 24px;
}

.email-input {
    width: 240px;
    border-radius: 4px;
    padding: 8px;
    margin-right: 24px;
}

.getAppButton {
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 4px;
    padding: 8px;
}

.getAppButton:hover {
    background-color: #0b5ed7;
}

.logo {
    width: 24px;
}

.ad {
    width: 440px;
    border-radius: 16px;
}

.user-segments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.us {
    display: flex;
    gap: 48px;
}

.us-image {
    width: 352px;
    height: 352px;
    border-radius: 16px;
}

.us-title {
    margin-bottom: 16px;
}

.us-subtitle {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}

.us-comment {
    width: 352px;
}

.us-topic {
    margin-top: 16px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tracking {
    width: 440px;
}

.info-content {
    width: 480px;
}

.trial {
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 4px;
    padding: 8px;
}

.trial:hover {
    background-color: #0b5ed7;
}